<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All user</title>
    <link href="../static/css/all_user_page.css" th:href="@{/css/all_user_page.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
<div class="conteiner">
    <h1 class="title">All users</h1>
    <table class="table_01">
        <tr>
            <th>id</th>
            <th>login</th>
            <th>f. name</th>
            <th>l. name</th>
            <th>birthday</th>
            <th>action</th>
        </tr>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.id}">User</td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.birthday}"></td>
            <td>
                <form action="#"
                      th:action="@{/admin/delete/{idUser} (idUser = ${user.id})}" method="post">
                    <input class="btn" type="submit" value="Delete">
                </form>
                <form action="#"
                      th:action="@{/admin/edit/{idUser} (idUser = ${user.id})}" method="get">
                    <input class="btn" type="submit" value="Edit">
                </form>
            </td>
        </tr>
    </table>
    <form action="/admin/add" th:action="@{/admin/add}" method="get">
        <input class="btn2" type="submit" value="Add">
    </form>
    <h1 class="author">Created by Artem Lambert</h1>
</div>
</body>
</html>