<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <!--    <link rel="stylesheet" href="/css/all_user_page.css">-->
    <link href="../static/css/home_page.css" th:href="@{/css/home_page.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
<div class="conteiner">
    <h1 class="title">Your home page</h1>
    <div class="pictures">
        <div class="text">
        </div>
    </div>
    <h1 class="author">Created by Artem Lambert</h1>
</div>
</body>
</html>